---
layout: default
title: About | Samuel Lye
permalink: /
---

<div class="left-bar">
  <ul>
    <li>
      <a href="https://github.com/samuellye98" target="_blank"
        ><i class="icon-github"></i
      ></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/samuellye98/" target="_blank"
        ><i class="icon-linkedin"></i
      ></a>
    </li>
    <li>
      <a href="mailto:sl2982@cornell.edu" target="_blank"
        ><i class="icon-gmail"></i
      ></a>
    </li>
    <li>
      <a href="https://www.facebook.com/samuellye1998" target="_blank"
        ><i class="icon-facebook"></i
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/samueldninja/" target="_blank"
        ><i class="icon-instagram"></i
      ></a>
    </li>
  </ul>
</div>

<div class="right-bar">
  <ul>
    <li id="about-dot">
      <a href="#about"
        ><span class="nav-dot"></span><span class="nav-label">About</span></a
      >
    </li>
    <li id="skills-dot">
      <a href="#skills"
        ><span class="nav-dot"></span><span class="nav-label">Skills</span></a
      >
    </li>
    <li id="experience-dot">
      <a href="#experience"
        ><span class="nav-dot"></span
        ><span class="nav-label">Experience</span></a
      >
    </li>
    <li id="projects-dot">
      <a href="#projects"
        ><span class="nav-dot"></span><span class="nav-label">Projects</span></a
      >
    </li>
  </ul>
</div>

{% include about.html %} {% include skills.html %} {% include experience.html %}
{% include projects.html %}
