<section id="about" class="section-container" style="margin-top: 75px;">
  <div
    class="header"
    data-aos="fade-right"
    data-aos-easing="ease-in-sine"
    data-aos-once="true"
    data-aos-delay="200"
  >
    <div>
      <div class="header-text">About Me</div>
      <div class="underline"></div>
    </div>
  </div>
  <div class="flex-container">
    <div
      class="col-xs-6 col-md-6 col-sm-6"
      style="padding-left: 0px;"
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-once="true"
      data-aos-delay="200"
    >
      <figure>
        <img class="intro-img" src="static/images/sam.jpeg" />
      </figure>
    </div>
    <div
      class="col-xs-6 col-md-6 col-sm-6 about-me-text"
      data-aos="fade-left"
      data-aos-easing="ease-in-sine"
      data-aos-once="true"
      data-aos-delay="200"
    >
      <p>
        Hi! I'm Samuel, an undergraduate double majoring in Economics and
        Information Science at Cornell University. I was born and raised in
        Singapore and spent 2 years in the military before college. I discovered
        my passion for technology during my time in Cornell and I have not
        regretted my decision since. I am passionate about building exceptional
        technological products that have meaningful impacts within the
        community.
      </p>
      <p>
        This summer, I interned as a Software Engineer Intern at the Ministry of
        Home Affairs (Singapore), where I did full-stack development of a data
        visualization dashboard, as well as research and applied natural
        language processing technologies. During the summer of 2019, I was a
        Software Engineer Intern at Govtech Singapore, where I worked on an
        open-source platform for the Distributed Ledger Team.
      </p>
      <p>
        On campus, I am a member of Lambda Phi Epsilon International Fraternity
        Inc., the Cornell Cup Robotics Team, and Cornell Venture Capital. I
        really love music and you can find me on Spotify whenever I can. In my
        free time, I enjoy working out, running, photography, and travelling
        around the world.
      </p>
    </div>
  </div>
</section>
