<section
  id="experience"
  class="section-container"
  data-aos="fade-up"
  data-aos-easing="ease-in-sine"
  data-aos-once="true"
  data-aos-delay="100"
>
  <div class="header">
    <div>
      <div class="header-text">Experience</div>
      <div class="underline"></div>
    </div>
  </div>
  <div class="flex-container">
    <div
      id="experience-filter"
      style="padding-left: 0"
      class="col-md-4 tab-container"
    >
      <ul>
        <li id="mha" class="active" onclick="experienceFilter('mha')">
          Ministry of Home Affairs
        </li>
        <li id="govtech" class="" onclick="experienceFilter('govtech')">
          Govtech
        </li>
        <li id="saf" class="" onclick="experienceFilter('saf')">
          Singapore Armed Forces
        </li>
      </ul>
    </div>
    <div id="mha-desc" class="col-md-8 experience-container active">
      <h1>Software Engineer Intern @ Ministry of Home Affairs</h1>
      <div class="location-data-container">
        <i class="icon-location"></i>
        <h2>Singapore</h2>
        <i class="icon-calendar"></i>
        <h2>May 2020 - Jul 2020</h2>
      </div>
      <ul>
        <div class="experience-desc">
          <i class="icon icon-terminal"></i>
          <li>
            Researched and applied state-of-the-art natural language processing
            technologies, in the fields of sentiment analysis, named entity
            recognition, relation extraction, and more, via tools like Spacy,
            FlairNLP, and Tensorflow.
          </li>
        </div>
        <div class="experience-desc">
          <i class="icon icon-terminal"></i>
          <li>
            Built a data visualization dashboard using React, Flask, and
            MongoDB, to streamline data analysis for over 1000 users to quickly
            digest critical information and make optimal operational decisions
            in real-time.
          </li>
        </div>
        <div class="experience-desc">
          <i class="icon icon-terminal"></i>
          <li>
            Orchestrated the deployment, scaling, and management of Docker
            containers using Openshift Red Hat and Docker Compose, enabling 2000
            words to be processed through 10 NLP models per minute.
          </li>
        </div>
      </ul>
    </div>
    <div id="govtech-desc" class="col-md-8 experience-container">
      <h1>Software Engineer Intern (Distributed Ledger Team) @ Govtech</h1>
      <div class="location-data-container">
        <i class="icon-location"></i>
        <h2>Singapore</h2>
        <i class="icon-calendar"></i>
        <h2>May 2019 - Aug 2019</h2>
      </div>
      <ul>
        <div class="experience-desc">
          <i class="icon icon-terminal"></i>
          <li>
            Frontend development of an Ethereum based blockchain system (<a
              href="https://opencerts.io/"
              target="_blank"
              >OpenCerts</a
            >) which publishes and verifies educational certificates, that is
            used by over 15 institutes of higher learning.
          </li>
        </div>
        <div class="experience-desc">
          <i class="icon icon-terminal"></i>
          <li>
            Collaborated with a small team of engineers to develop a digital
            identity verification mobile application,
            <a
              href="https://www.mom.gov.sg/eservices/sgworkpass"
              target="_blank"
              >SGWorkPass</a
            >, using the same blockchain system, React Native, and Expo, that
            has over 1,000,000 downloads in the app store.
          </li>
        </div>
        <div class="experience-desc">
          <i class="icon icon-terminal"></i>
          <li>
            Upgraded code to ensure cross-browser compatibility and
            responsiveness in various browsers and mobile devices.
          </li>
        </div>
        <div class="experience-desc">
          <i class="icon icon-terminal"></i>
          <li>
            Wrote unit tests and integration tests on various components to
            improve overall code coverage.
          </li>
        </div>
      </ul>
    </div>
    <div id="saf-desc" class="col-md-8 experience-container">
      <h1>
        Human Resource Battalion & Deputy Operations Officer @ Singapore Armed
        Forces
      </h1>
      <div class="location-data-container">
        <i class="icon-location"></i>
        <h2>Singapore</h2>
        <i class="icon-calendar"></i>
        <h2>Jan 2017 - Jun 2018</h2>
      </div>
      <ul>
        <div class="experience-desc">
          <i class="icon icon-terminal"></i>
          <li>
            Spearheaded the development of a software-based attendance entry
            system over 6 different army bases, which led the Battalion HR
            office to attain the prestigious Human Resource Audit Proficiency
            Award.
          </li>
        </div>
        <div class="experience-desc">
          <i class="icon icon-terminal"></i>
          <li>
            Supervised HR management and an integrated supply base of over 400
            personnel, 100 vehicles and 25 military cookhouses, in a
            multi-component Logistics Battalion using Excel and HR software
            platforms to filter, identify, and analyze data.
          </li>
        </div>
        <div class="experience-desc">
          <i class="icon icon-terminal"></i>
          <li>
            Oversaw consolidation effort for mechanized and motorized vehicles,
            which enabled active units and training institutes to focus on
            operational readiness and training outcomes, while ensuring
            administrative excellence in the Army supply system.
          </li>
        </div>
      </ul>
    </div>
  </div>
</section>
