<section id="intro">
  <div class="flex-container">
    <div
      class="col-xs-3 col-md-3 col-sm-3"
      style="padding-left: 0px;"
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-once="true"
      data-aos-delay="200"
    >
      <figure>
        <img class="intro-img" src="static/images/logo.png" />
      </figure>
    </div>
    <div class="col-xs-9 col-md-9 col-sm-9 intro-text-container">
      <h1 class="intro-text1">
        <span class="word">H</span><span class="word">i</span
        ><span class="word">,</span><span class="word"> </span
        ><span class="word">I</span><span class="word">'</span
        ><span class="word">m</span>
      </h1>
      <h1 class="intro-text2">
        <span class="word">S</span><span class="word">a</span
        ><span class="word">m</span><span class="word">u</span
        ><span class="word">e</span><span class="word">l</span>
        <span class="cursor"></span>
      </h1>
    </div>
  </div>
</section>
